<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/notes1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/notes1"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeepNotes"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ShowDrawing"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateDrawing"
            android:exported="false"
            android:parentActivityName=".AddNoteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddNoteActivity" />
        </activity>
        <activity
            android:name=".AddNoteActivity"
            android:label="Add Note"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AddNoteActivity" />
        <activity
            android:name=".ProfilePage"
            android:label="Profile Page"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AddNoteActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:parentActivityName=".LoginPage" />
    </application>

</manifest>